body {
    display: flexbox;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    size: 400px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    background-origin: padding-box;
    border: #218838;
    box-shadow: #333;
    width: 200px;
    padding-top: 20px;
    padding-left: 30px;
    border: 20px 30px;
    flex-direction: row;

}

.container {
    display: flexbox;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

input[type="number"],
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}
div{
background-color: red;

}
#div
{
    background-color: white;
}
p {
    color: chocolate;
    display: grid;
    size-adjust: auto;
    padding-left: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }